body {
    background-color: black;
}

header {
    text-align: center;
}

.outer {
    height: 80px;
    width: 80px;
    border: solid 25px lightgray;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px gray;
}

.inner {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

section {
    display: flex;
    justify-content: center;
}

/*Main*/

main {
    text-align: center;
}
